<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6793d/control/0/plot" value="false" />
    <add key="/lpc/nct6793d/control/1/plot" value="false" />
    <add key="/lpc/nct6793d/control/2/plot" value="false" />
    <add key="/lpc/nct6793d/control/3/plot" value="false" />
    <add key="/lpc/nct6793d/control/4/plot" value="false" />
    <add key="/lpc/nct6793d/control/5/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/2/plot" value="false" />
    <add key="/ram/data/3/plot" value="false" />
    <add key="/ram/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/4/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/7/plot" value="false" />
    <add key="/gpu-nvidia/0/control/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/2/plot" value="false" />
    <add key="/gpu-nvidia/0/load/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/1/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/4/load/32/plot" value="false" />
    <add key="/hdd/4/load/33/plot" value="false" />
    <add key="/hdd/4/throughput/34/plot" value="false" />
    <add key="/hdd/4/throughput/35/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/5/load/32/plot" value="false" />
    <add key="/hdd/5/load/33/plot" value="false" />
    <add key="/hdd/5/throughput/34/plot" value="false" />
    <add key="/hdd/5/throughput/35/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/1/load/32/plot" value="false" />
    <add key="/hdd/1/load/33/plot" value="false" />
    <add key="/hdd/1/throughput/34/plot" value="false" />
    <add key="/hdd/1/throughput/35/plot" value="false" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="/hdd/6/load/32/plot" value="false" />
    <add key="/hdd/6/load/33/plot" value="false" />
    <add key="/hdd/6/throughput/34/plot" value="false" />
    <add key="/hdd/6/throughput/35/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="/hdd/3/load/32/plot" value="false" />
    <add key="/hdd/3/load/33/plot" value="false" />
    <add key="/hdd/3/throughput/34/plot" value="false" />
    <add key="/hdd/3/throughput/35/plot" value="false" />
    <add key="/ssd/0/temperature/0/plot" value="false" />
    <add key="/ssd/0/data/0/plot" value="false" />
    <add key="/ssd/0/load/0/plot" value="false" />
    <add key="/ssd/0/load/32/plot" value="false" />
    <add key="/ssd/0/load/33/plot" value="false" />
    <add key="/ssd/0/throughput/34/plot" value="false" />
    <add key="/ssd/0/throughput/35/plot" value="false" />
    <add key="/nic/{B9BCA4C0-568D-4747-BECD-E3AED2AFCBF4}/data/2/plot" value="false" />
    <add key="/nic/{B9BCA4C0-568D-4747-BECD-E3AED2AFCBF4}/data/3/plot" value="false" />
    <add key="/nic/{B9BCA4C0-568D-4747-BECD-E3AED2AFCBF4}/throughput/7/plot" value="false" />
    <add key="/nic/{B9BCA4C0-568D-4747-BECD-E3AED2AFCBF4}/throughput/8/plot" value="false" />
    <add key="/nic/{B9BCA4C0-568D-4747-BECD-E3AED2AFCBF4}/load/1/plot" value="false" />
    <add key="/nic/{B6CE586A-1B88-41E9-A374-2BDC635ECD58}/data/2/plot" value="false" />
    <add key="/nic/{B6CE586A-1B88-41E9-A374-2BDC635ECD58}/data/3/plot" value="false" />
    <add key="/nic/{B6CE586A-1B88-41E9-A374-2BDC635ECD58}/throughput/7/plot" value="false" />
    <add key="/nic/{B6CE586A-1B88-41E9-A374-2BDC635ECD58}/throughput/8/plot" value="false" />
    <add key="/nic/{B6CE586A-1B88-41E9-A374-2BDC635ECD58}/load/1/plot" value="false" />
    <add key="/nic/{5669128D-1B92-4E05-9B90-D91506651A8E}/data/2/plot" value="false" />
    <add key="/nic/{5669128D-1B92-4E05-9B90-D91506651A8E}/data/3/plot" value="false" />
    <add key="/nic/{5669128D-1B92-4E05-9B90-D91506651A8E}/throughput/7/plot" value="false" />
    <add key="/nic/{5669128D-1B92-4E05-9B90-D91506651A8E}/throughput/8/plot" value="false" />
    <add key="/nic/{5669128D-1B92-4E05-9B90-D91506651A8E}/load/1/plot" value="false" />
    <add key="/nic/{A486BE8E-FE30-4ADE-BFF0-B329BB2907EB}/data/2/plot" value="false" />
    <add key="/nic/{A486BE8E-FE30-4ADE-BFF0-B329BB2907EB}/data/3/plot" value="false" />
    <add key="/nic/{A486BE8E-FE30-4ADE-BFF0-B329BB2907EB}/throughput/7/plot" value="false" />
    <add key="/nic/{A486BE8E-FE30-4ADE-BFF0-B329BB2907EB}/throughput/8/plot" value="false" />
    <add key="/nic/{A486BE8E-FE30-4ADE-BFF0-B329BB2907EB}/load/1/plot" value="false" />
    <add key="mainForm.Location.X" value="625" />
    <add key="mainForm.Location.Y" value="381" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6793d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6793d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6793d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6793d/fan/0/plot" value="false" />
    <add key="/lpc/nct6793d/fan/1/plot" value="false" />
    <add key="/lpc/nct6793d/fan/2/plot" value="false" />
    <add key="/lpc/nct6793d/fan/3/plot" value="false" />
    <add key="/lpc/nct6793d/fan/4/plot" value="false" />
    <add key="/lpc/nct6793d/fan/5/plot" value="false" />
    <add key="cboMaxTempSource" value="0" />
    <add key="nMaxFan" value="100" />
    <add key="nMinFan" value="20" />
    <add key="nMaxTemp" value="80" />
    <add key="nMinTemp" value="20" />
    <add key="chkManualFan" value="false" />
    <add key="chkManualColor" value="false" />
    <add key="sldManualFan" value="50" />
    <add key="sldManualColor" value="500" />
    <add key="sldLedBrightness" value="50" />
    <add key="sldPlotInterval" value="5" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" />
  </appSettings>
</configuration>